* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
p,
b {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2a2a2a;
  line-height: 1.5;
  background-color: #4a4a4a;
  padding: 10px 20px 10px 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}
.search-form {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

.query-input {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  font: inherit;
  padding: 7px 50px;

  width: 88vw;

  border-radius: 0.8rem;
  outline: none;
  position: relative;

  border: 0 solid #e2e8f0;
  box-shadow: 0 0px 6px #a6afc3b3;
}

.query-input::placeholder {
  font-weight: 400;
  font-size: small;
  color: #676666;
  align-self: center;
  text-transform: uppercase;
}

.query-input:focus {
  outline: 1px solid #ccc;
}

.mignifier {
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;

  height: 100%;
  width: 5%;
  background-color: inherit;
  border: none;
  border-radius: 0.7rem 0 0 0.7rem;
}
.mignifier:hover {
  color: #638aff;
  background-color: rgba(0, 0, 0, 0.042);
}

button {
  display: block;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1;

  text-align: center;
  color: #0d172a;

  transition: color 0.1s cubic-bezier(0.4, 0, 0.2, 1);

  user-select: none;
  cursor: pointer;
}

button:hover {
  background-color: #6d6d6d5d;
  color: #fff;
}
.load-more {
  border: 1px solid #ccc;
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 0.8rem;
  padding: 9px 10px;
  box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
  display: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 26px;
  height: 26px;
  opacity: 0;

  transition: opacity 500ms linear;

  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #828282 transparent #828282 transparent;
  animation: lds-dual-ring 1.2s linear infinite;

  position: absolute;
  z-index: 10;
  right: 10px;
  background-color: transparent;
  top: 5px;
}

/* spinetr Anim */
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 15px;
  margin-bottom: 25px;
}

.photo-card {
  display: block;
  position: relative;
  padding: 0;
  box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
}
.photo-card > img {
  object-fit: cover;
  width: 100%;
  height: auto;

  transition: all 600ms ease-in;
  cursor: zoom-in;
}
.photo-card > img:hover {
  scale: 1.1;
}
.photo-card > img:hover ~ .info {
  opacity: 1;
}

.info {
  transition: all 400ms ease-in;
  position: absolute;
  opacity: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.325);
  backdrop-filter: blur(1px);
  color: rgb(200, 198, 198);
  font-size: 12px;
  pointer-events: none;
}
.info-item {
  display: grid;
  justify-items: start;
  grid-template-columns: 1fr;
  grid-template-rows: 14px 14px;
  padding-left: 8px;
  gap: 4px;
}

/* MEDIA */
@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .photo-card > img {
    height: 218px;
  }
  .info {
    font-size: 16px;
  }
  .info-item {
    grid-template-rows: 20px 20px;
  }
}
@media screen and (min-width: 1024px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .photo-card > img {
    height: 318px;
  }
  .query-input {
    width: calc(100vw / 2);
  }
}

/* SimpleLightboxx */

.sl-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  backdrop-filter: brightness(50%);
  outline: none;
  border: none;
}
.sl-close,
.sl-next,
.sl-prev,
.sl-counter {
  color: white !important;
  background-color: transparent !important;
}
.sl-close {
  border-radius: 50% !important;
}
.sl-caption {
  background: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(2px);
}
.sl-counter {
  top: 24px !important;
  right: 73px !important;
}

.sl-image {
  box-shadow: rgb(141 141 141 / 20%) 0px 1px 60px,
    rgb(0 0 0 / 12%) 0px -12px 30px, rgb(102 102 102 / 12%) 0px 4px 6px,
    rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px !important;
}

.arrow-down {

  position: fixed;
  height: 20px;
  width: 20px;
  border: 4px solid #fff;
  border-width: 4px 4px 0 0;
  transform: rotate(135deg);
  cursor: pointer;
  bottom: 30px;
  right: 52px;
  transition: all 300ms ease;
  opacity: 0;
  filter: drop-shadow(0 0 8px #000);

}

.arrow-down:hover {
  bottom: 25px;
  border: 4px solid white;
  border-width: 4px 4px 0 0;
}
